html {
    scroll-behavior: smooth;
}
body{
    margin:0px;
    padding:0px;
    background-color: #CFFDCC;
}
/* Menu de navegacion */
nav{
    width: 100%;
    background-color: #444444;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px; 
    border-bottom: 4px solid green;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    
}
nav a:hover{
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
}

/* Primera seccion */
.seccion_informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.seccion_informacion h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}
.seccion_informacion p{
    font-size: 18px;
    
}
/* Seccion tarjetas */
.tarjetas {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.tarjetas a {
  width: calc((100% / 5) - 48px);
}

.tarjetas li {
width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  
}

.tarjetas .wrapper {
  padding: 4px 16px;
  border-radius: 0 0 16px 16px;
}
.tarjetas .wrapper:hover{
  background-color: lightyellow;
}
a{
  text-decoration: none;
}
li img{
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #223344;
}


/* Footer  */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: right;
    background-color: #3c3c3c;
    color: white;
    padding: 10px 20px;
  }

  footer a {
    text-decoration: none;
    text-align: right;
    color: white;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .páginapersonal{
    text-align: left;
  }
  footer a:hover{
    color: yellow;
    text-decoration: underline;
  }
  /* identificadores */
  #septiembre{
    background: linear-gradient();
  }
 /*ajuste de pantalla*/
 @media (max-width: 768px) {
  .tarjetas a {
      flex: 1 1 calc(50% - 16px); /* 2 tarjetas por fila */
  }

  nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  nav a {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .tarjetas a {
      flex: 1 1 calc(100% - 16px); /* 1 tarjeta por fila */
  }

  footer {
      flex-direction: column;
      text-align: center;
  }
}